<?xml version="1.0" encoding="utf-8" ?>
<images>
  <image>
    <url>images/slider/events/1.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/2.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/3.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/4.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/5.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/6.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/7.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/8.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/9.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/10.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/11.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/12.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/13.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/14.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/15.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/16.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/17.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/18.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/19.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/20.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/21.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/22.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/23.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/24.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/25.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/26.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/27.JPG</url>
    <title>Events and Occassions</title>
  </image>
  <image>
    <url>images/slider/events/28.JPG</url>
    <title>Events and Occassions</title>
  </image>
 </images>